# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7ae70512d6dcc17f8ea22e057925e9c0d8a4074a75742c6a590ffaba2778034d0be796b42b0ab9bc3b2f5237a3bfa332cd0bbf8fd9760b9ff2885f1f4fb40902

test:
  secret_key_base: fed09b134fe63a4e760a1167972233389da9afe3231d8a29c619f13f7ed3efbf6972eb7494490319063a8babea7da1519d7023dd53453e157285c23550f953ea

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
